# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Environment
.env
.env.*

# Virtual environments
venv/
.venv/

# Node
node_modules/
dist/
build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Misc
*.bak
